<div class="container-fluid" style="max-width: 1280px">
  <h3 class="pt-3 text-primary col-2">Calendar</h3>
  <input type="text" id="calendar" class="initial-font mb-3" form="diary-form" name="diary[date]">
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="dropdown">
        <div class="ext-dark border p-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Former Day
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "1 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "3 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "7 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "30 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "90 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "180 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "365 day ago", "/#", class: "dropdown-item" %>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
        Launch demo modal
      </div>
      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="dropdown">
        <div class="ext-dark border p-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Former Day
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "1 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "3 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "7 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "30 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "90 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "180 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "365 day ago", "/#", class: "dropdown-item" %>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
        Launch demo modal
      </div>
      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="dropdown">
        <div class="ext-dark border p-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Former Day
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "1 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "3 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "7 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "30 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "90 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "180 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "365 day ago", "/#", class: "dropdown-item" %>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
        Launch demo modal
      </div>
      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="dropdown">
        <div class="ext-dark border p-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Former Day
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "1 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "3 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "7 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "30 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "90 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "180 day ago", "/#", class: "dropdown-item" %>
          <%= link_to "365 day ago", "/#", class: "dropdown-item" %>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="text-dark border p-3" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
        Launch demo modal
      </div>
      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 col-12">
      <%= form_with model: @Twitter, local: true do |form| %>
        <div class="form-group" >
          <%= form.label :title, "Twitter id" %>
          <%= form.text_field :title, required: true, class: "form-control" %>
        </div>
      <% end %>
      <a class="twitter-timeline" data-lang="ja" data-height="700" href="https://twitter.com/take18k_tech?ref_src=twsrc%5Etfw">Tweets by take18k_tech</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-9 col-12">
      <%= form_with model: @diary, local: true, id: "diary-form" do |form| %>
        <div class="form-group" >
          <%= form.label :title, "Diary Title" %>
          <%= form.text_field :title, required: true, class: "form-control", id: "diary-title" %>
        </div>
        <div class="form-group">
          <%= form.label :comment, "Diary Comment" %>
          <%= form.text_area :comment, required: true, class: "form-control", id: "diary-comment", rows: 25 %>
        </div>
        <div class="text-right">
          <%= form.submit "Save", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
