<div class="container-login">
  <div class="title">
    <h3><strong>Contact us</strong></h3>
  </div>
  <%= form_with url: contact_path do |f| %>
    <div class="form-group" >
      <%= f.label :"Last name" %>
      <%= f.text_field :name, class: 'form-control mb-3', placeholder: "Last name", required: true %>
    </div>
    <div class="form-group" >
      <%= f.label :"First name" %>
      <%= f.text_field :name, class: 'form-control mb-3', placeholder: "First name", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :"Email" %>
      <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: "example@example.com", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :"Inquiry" %>
      <%= f.text_area :text, class: 'form-control', rows:15, required: true %>
    </div>
    <div class="form-group">
      <%= f.submit "Send", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
