<!DOCTYPE html>
<html>
  <head>
    <title>DiaryForGse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="main-container">
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %> text-center mb-0">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </p>
      <% end %>
      <%= yield %>
      <div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
      </div>
      <footer class="bg-primary text-white text-center p-3 fixed-bottom">
        copyright - taichi nagasaka, 2020 All Rights Reserved.
      </footer>
    </div>
  </body>
</html>
